<div >
    <a href="/patient/add"  class="btn btn-primary"><i class="fas fa-user-plus"></i> Agregar</a>
</div>


<div class="row ">
    <div class="col-10 offset-1 col-md-2   offset-md-0 mt-4">
            <input class="form-control" type="text" placeholder="Buscar Paciente" aria-label="Search">
    </div>

</div>

<div class="row" id="pacientes">
    {{#patients}}
    <div class="col-10 offset-1 col-md-3 offset-md-0 ">
        <div class="card mt-4" >
            <img src="/upload/{{nombreArchivo}}" class=" card-img-top mx-auto img-thumbnail img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}<a href="/patient/edit/{{id}}"><svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg> </a>
                </h5>
                <p class="card-text m-0">Email : {{email}}</p>
                <p  class="card-text">Celular : {{phone}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2 offset-10 ">
                        <form action="/patients/delete/{{id}}?_method=DELETE" method="POST">
                            <button  onclick="return confirmacion()"  type="submit" class="fabutton"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/patients}}
</div>

