<form action="/client/edit/{{client.id}}?_method=PUT" method="POST" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4 text-center">
            <h3> {{client.name}}</h3>
            <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile" onchange="previewImage(event)"  />
            <label  class="custom-file-label" for="inputGroupFile">Edita foto de perfil</label>
            <img src="/upload/{{client.nombreArchivo}}" id="image-field" alt="foto perfil" class="img-thumbnail">
            <p> Registro :  {{client.createdAt}} </p>
            <p> Ultima actualización : {{tiempo client.updatedAt}}</p>
        </div>
        <div class="col-md-8">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nombre Completo</label>
                    <input type="text"  name="name" class="form-control" value="{{client.name}}" >
                </div>
                <div class="form-group col-md-6">
                    <label >DNI</label>
                    <input type="text" name="nroidentidad" class="form-control" value="{{client.nroidentidad}}" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Teléfono</label>
                    <input type="text" name="phone" class="form-control" value="{{client.phone}}">
                </div>
                <div class="form-group col-md-6">
                    <label >Email</label>
                    <input type="text" name="email" class="form-control" value="{{client.email}}" >
                </div>
            </div>
            <div class="form-group">
                <label >Descripción (opcional )</label>
                <textarea  class="form-control" name="description"  rows="3"> {{client.description}} </textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</form>
