<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        <tr>
            <th scope="row">1</th>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>
                <a href="/client/edit/{{id}}"><i class="fas fa-pencil-alt"></i>  </a>
            </td>

            <td>
                <form   action="/clients/delete/{{id}}?_method=DELETE" method="POST">
                    <button onclick="return confirmacion()"  type="submit" class="btn btn-danger ">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
    {{/clients}}
    </tbody>
</table>