<div  class="row">
    <div class="col-md-6 offset-md-0 col-10 offset-1  mt-4  ">
        <h2 class="">Editar Meeting</h2>
        <form id="nuevo-meeting" method="POST" action="/meetings/edit/{{meeting.id}}?_method=PUT">
            <div class="form-group">
                <label for="contact">Contacto</label>
                <select class="form-control" id="contact" name="contact">
                    {{#contacts}}
                        <option id="name" >{{name}}</option>
                    {{/contacts}}
                </select>
            </div>
            <div class="form-group">
                <label for="dateMeeting" >Fecha:</label>
                <input type="date" id="dateMeeting" name="dateMeeting"  value="{{MeetingEdit meeting.dateMeeting}}" class="form-control">
            </div>
            <div class="form-group ">
                <label for="timeMeeting">Hora:</label>
                <input type="time" id="timeMeeting" name="timeMeeting" class="form-control" value="{{meeting.timeMeeting}}">
            </div>

            <div class="form-group ">
                <label for = "description">Descripción:</label>
                <textarea id="description" name="description" class="form-control" > {{meeting.description}} </textarea>
            </div>
            <div class="form-group row ">
                <div class="col-md-4 offset-md-4 text-center">
                    <button class="btn btn-success mt-2 mb-4" type="submit">
                        Guardar cambios
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 offset-md-1 col-10 offset-1  mt-4">
        <h2 class="">Administra tus Citas</h2>

        {{#meetings}}
            <div data-id="{{id}}" class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title">{{contact}}</h5>
                    <p class="card-text">Fecha: {{ showMeetingDate dateMeeting }} </p>
                    <p class="card-text">Hora: {{timeMeeting}}</p>
                    <p class="card-text">Descripción: {{description}} </p>
                    <div class="row">
                        <div class="col">
                            <form action="/meetings/delete/{{_id}}?_method=DELETE" method="POST">
                                <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                                    Eliminar
                                </button>
                                <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Cita</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Estas seguro que quieres eliminar la reunión con {{contact}} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <button class="btn btn-info mt-2" href="/meetings/edit/{{_id}}" role="button" > Editar </button>
                        </div>
                    </div>

                </div>
            </div>

        {{/meetings}}
    </div>

</div> <!--.row-->