
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Crear nueva nota
</button>
<div class="row ">

    {{#each noteMessage}}
        <div class="mt-4   text-center">
            <strong> {{text}}</strong>

        </div>

    {{/each}}

    {{#each notes}}
        <div class="mt-4 col-10 offset-1 col-md-3 offset-md-0">
            <div class="note  card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-pencil-alt"></i>  </a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <button type="button" class="fabutton" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                            <i class="fas fa-trash"></i>
                        </button>
                        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Nota</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Estas seguro que quieres eliminar {{title}}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="mb-0"> {{ timeTransform  createdAt}}</p>
                    <p  > {{ updateNote  updatedAt createdAt}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>

    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered " >
                    <form action="/notes/add" method="POST">
                        <div class="note  modal-content">
                            <div class=" modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Nueva Nota</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="  modal-body">
                                <div class="form-group">
                                    <input  type="text" name="title" class=" note form-control" placeholder="Titulo" >
                                </div>
                                <div class="form-group">
                                    <textarea name="description"  class=" note form-control" cols="50" rows="5">  </textarea>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button class="btn btn-primary" type="submit">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>



<!-- Nueva Nota -->

