<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Crear nueva nota
</button>

<div class="row ">
    {{#each notes}} 
        <div class="mt-4 col-md-4">
            <div class="note  card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-pencil-alt"></i>  </a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <button class="fabutton"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
                <div class="card-footer">
                    <p >{{timeTransform createdAt}}</p>
                    <p > Actualizado : {{ timeTransform updatedAt}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<!-- Nueva Nota -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog" >
        <form action="/notes/add" method="POST">
            <div class="note  modal-content">
                <div class=" modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Nueva Nota</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="  modal-body">
                            <div class="form-group">
                                <input  type="text" name="title" class=" note form-control" placeholder="Titulo" >
                            </div>
                            <div class="form-group">
                                <textarea name="description" placeholder="Descripción" class=" note form-control" cols="30" rows="10"> </textarea>
                            </div>
                </div>
                <div class=" modal-footer">
                    <button class="btn btn-dark btn" type="submit">
                        Guardar
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>


