<div >
    <a href="/notes"  class="btn btn-primary"><i class="fas fa-home"></i> Regresar</a>
</div>


<div class="row ">

    <div class="mt-4 col-10 offset-1 col-md-3 offset-md-0">
        <div class="note card">
            <form action="/notes/edit/{{note.id}}?_method=PUT" method="POST">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="title" class="note form-control" value="{{note.title}}">
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="note form-control" cols="10" rows="2">{{note.description}}</textarea>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group  ">
                        <button class=" btn btn-primary  " type="submit">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{#each notes_edit}}
        <div class="mt-4 col-10 offset-1 col-md-3 offset-md-0">
            <div class="note  card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-pencil-alt"></i>  </a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <button class="fabutton"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
                <div class="card-footer">
                    <p >{{timeTransform createdAt}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>






