<div  class="row">
    <div class="col-md-6 offset-md-0 col-10 offset-1  mt-4  ">
        <h2 class="">Agendar Cita</h2>
        <form class="mt-4" method="POST" action="/appointment/add">
            <div class="form-group">
                <label for="patient">Paciente</label>
                <select class="form-control" id="patient" name="patient">
                    <option value="" selected>Seleccione un paciente</option>
                    {{#patients}}
                        <option id="name" >{{name}}</option>
                    {{/patients}}
                </select>
            </div>
            <div class="form-group">
                <label for="dateAppointment" >Fecha:</label>
                <input type="date" id="dateAppointment" name="dateAppointment" class="form-control">
            </div>
            <div class="form-group ">
                <label for="timeAppointment">Hora:</label>
                <input type="time" id="timeAppointment" name="timeAppointment" class="form-control">
            </div>

            <div class="form-group ">
                <label for = "description">Descripción:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group row ">
                <div class="col-md-4 offset-md-4 text-center">
                    <button class="btn btn-success mt-2 mb-4" type="submit">
                        Crear Cita
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 offset-md-1 col-10 offset-1  mt-4">

        {{#if appointments}}
        <h2 class="">Administra tus Citas</h2>
        {{/if}}
            {{#appointments}}
                <div data-id="{{id}}" class="card border-light mb-3" style="max-width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">{{patient}}</h5>
                        <p class="card-text">Fecha: {{ showAppointmentDate dateAppointment }} </p>
                        <p class="card-text">Hora: {{timeAppointment}}</p>
                        <p class="card-text">Descripción: {{description}} </p>
                        <div class="row">
                            <div class="col">
                                <form action="/appointments/delete/{{_id}}?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
                                </form>
                            </div>
                            <div class="col">
                                <a class="btn btn-info mt-2" href="/appointments/edit/{{_id}}" role="button" > Editar </a>
                            </div>
                        </div>

                    </div>
                </div>

            {{/appointments}}
    </div>

</div> <!--.row-->